
@{
    ViewBag.Title = "LimonLAB Test V.0.2 / Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">LimonLAB Teknoloji Test Sayfası V.0.2 <button class="btn btn-success" data-toggle="modal" data-target="#Comar"><i class="fa fa-paw"></i> Çomar Yardım</button></h1>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-red">
                <div class="panel-heading">
                    Ön izleme Sürümü Uyarısı
                </div>
                <div class="panel-body">
                    <p>
                        LimonLAB Project Hule <strong>ALPHA</strong> V.0.2
                        <hr />
                        Bu Proje Ön İzleme Konumundadır. Bu Sayfa Kullanılan Teknolojileri Test Etmek İçin Hazırlanmıştır.
                        <strong style="color:red;">Bu Versiyon Yanlıca Sınırlı Özellikler İçerir. Ve Geliştirici Sürümüdür.</strong>
                        <hr />
                        <strong>Bu Proje Yeni Teknolojileri Geliştirmek Ve Test Etmek için Kurulan dinamik Bir Platformdur.</strong>
                        <hr />
                    </p>
                </div>
                <div class="panel-footer">
                    <p style="color:brown">Tüm Hakları LimonLAB Saklıdır.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Comar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">ÇOMAR AI V.1.2 (ALPHA)</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            ÇOMAR YARDIM
                        </div>
                        <div class="panel-body">
                            <p>
                                Merhaba! Ben SiteRobotu Çomar. Bu Sayfa Geliştirmekte olan Ürünün Kullandığı Teknolojilerin
                                Test Edildiği, Değerlendirildiği bir AR-GE Sayfasıdır. Bu Proje Tamamen Alpha Sürümünde 
                                Ön izlemedir. Ben Site robotu Çomar Dinamik Yardım dosyalarım Sayesinde Size Bundan Sonra
                                Projenin Her Sayfasında Yardım Edeceğim.
                                <hr />
                                Siterobotu Çomar Yardım Bot'u V.0.6 (PreAlpha) ~ Her Hakkı Saklıdır.
                            </p>
                        </div>
                        <div class="panel-footer">
                            seckinumur@gmail.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


